<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Curso AngularJS</title>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-route/angular-route.min.js"></script>

    <script src="curso-app.js"></script>
    <script src="curso-router.js"></script>

    <script src="curso-service.js"></script>
    <script src="cadastro/cadastro-controller.js"></script>
    <script src="home/home-controller.js"></script>

    <link rel="shortcut icon" href="assets/favicon.ico">

</head>


<body>

    <script>
        angular.module('app').controller('MenuController', MenuController);
        MenuController.$inject = ['$location'];

        function MenuController($location) {
            vm = this;

            vm.itensMenu = [
                {titulo: 'Home', class: 'nav-link active'},
                {titulo: 'Cadastro', class: 'nav-link'}
            ]

            vm.navegar = function(rota, array) {
                angular.forEach(array, function(item){
                    if(item.titulo == rota) {
                        item.class = 'nav-link active';
                    }
                    else {
                        item.class = 'nav-link';
                    }
                });
                $location.path(rota);
            }
        }
    </script>
<div class="container-fluid">
    <div ng-controller="MenuController as vm">
        <ul class="nav nav-tabs">
            <li class="nav-item" ng-repeat="item in vm.itensMenu">
                <a ng-class="item.class" ng-click="vm.navegar(item.titulo, vm.itensMenu)">{{ item.titulo }}</a>
            </li>
        </ul>
    </div>
</div>
    <div class="container" ng-view></div>
</body>
</html>